Source: ruby-rqrcode-rails3
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~),
               gem2deb,
               rake,
               ruby-rqrcode (>= 0.4.2)
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-rqrcode-rails3.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-ruby-extras/ruby-rqrcode-rails3.git
Homepage: http://github.com/samvincent/rqrcode-rails3
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: ruby-rqrcode-rails3
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-rails,
         ruby-rqrcode (>= 0.4.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: render QR codes with Rails 3
 This gem allows user to render QR codes with Rails 3. It supports rendering
 either SVG or PNG, JPEG, and GIF formats. QR codes are encoded by the
 rqrcode gem.
 .
 This project was inspired by the first chapter in José Valim's book Crafting
 Rails Applications
